*.user*
*.o
*.a
*.elf
*.bin
*.hex
*.bg
*.lock
moc_*.cpp
ui_*.h
qrc_*.cpp
qtc*-release
qtc*-debug
*.so
*.*~
dist/*
*.pyc
*.exe
*.obj
*.lib
*.ilk
*.pdb
install-root/
*[Rr]elease/
*[Dd]ebug/
*.d
build/
.vscode/